<div class="change-icon">
  <mat-form-field appearance="fill">
    <mat-label>Categorias</mat-label>
    <mat-select [(ngModel)]="categoryView">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category | iconNames}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="categoryView" class="d-flex flex-wrap justify-content-between ">
    <div *ngFor="let icon of filterListIcons(categoryView); trackBy:trackBy" class="mat-card icon text-center m-1" [mat-dialog-close]="icon.name">
      <mat-icon>{{ icon.name }} </mat-icon>
      <p>{{ icon.name }} </p>
    </div>
  </div>

  <div>
    <button mat-button>Selecionar</button>
    <button mat-button (click)="close()">Fechar</button>
  </div>
</div>
